<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div id="login" class="login-container">
    <div class="login-box">
      <h2 class="login-title">Welcome Back!</h2>
      <form @submit.prevent="handleLogin">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
            v-model="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            v-model="password"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn login-button" :disabled=" !email || !password" >Login</button>
        </div>
      </form>
      <p class="signup-link">
        Don't have an account? <a href="#">Sign up</a>
      </p>
    </div>
  </div>
    
  <script src="./vue.js"></script>
  <script>
    var vm = new Vue({
      el: "#login",
      data: {
        email:'',
        password:'',
      },
    });
  </script>
</body>
</html>